<footer class="site-footer">
  <div class="page-width site-footer__inner">
    <p>{{ section.settings.text }}</p>
    <small>&copy; {{ 'now' | date: '%Y' }} {{ shop.name }}</small>
  </div>
</footer>

{% schema %}
{
  "name": "Main footer",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Footer text",
      "default": "plain and premium"
    }
  ],
  "presets": [
    {
      "name": "Main footer"
    }
  ]
}
{% endschema %}
